<h1>Cat Generator</h1>

<form class="new_cat" id="new_cat" action="/cats"
  accept-charset="UTF-8" method="POST">

  <p>
    <input placeholder="name" type="text" name="name" id="cat_name">
  </p>

  <p>
    <!-- Replace this input with a some kind of GUI that allows the user
         to select one of six cat images, then pass the URL of that image
         back to the back end and save the new cat info into the JSON file -->
    <input placeholder="image url" type="text" name="image" id="cat_image">
  </p>

  <p>
    <textarea placeholder="life story" name="life_story"
      id="cat_life_story"></textarea>
  </p>

  <p>
    <input type="submit" name="commit" value="Create Cat" />
  </p>

</form>

<p><a class="link" href="/cats">Never mind</a></p>
